<html>	
<script src='/static/jquery-1.8.3.min.js'></script>
<script>
	$(document).ready(function(){
	$('#country').change(function(){
	var cid=$('#country').val();
	$.ajax({
		url:"{% url 'getstate' %}",
		data:{'count':cid},
		success:function(data){
		$('#state').html(data);
}
})
})
})
</script>
	<body>
		<form method = 'post' action = "{% url 'place_action' %}">
		{% csrf_token %}
		<table>
			<tr>
			<td>COUNTRY</td>
			<td><select name='country' id='country'>
			<option value=''>--select--</option>
			{% for i in coun %}
			<option value='{{i.id}}'>{{i.Countryname}}
			{% endfor %}
			</select>
			</td>
			</tr>
			<tr>
			<td>STATE</td>
			<td><select name = 'state' id ='state'>
			<option value =''>--select--</option>
			</select>
			</td>
			</tr>
			<tr>
			<td>PLACE</td>
			<td><input type ='text' name='place'></td>
			</tr>
			<tr>
			<td></td>
			<td><input type='submit' value='Submit'></td>
			</tr>
		</table>
</form>
	</body>
</html>
			
