<html>
	<body>
		<table>
			<tr>
			<th>NAME</th>
			<th>ADDRESS</th>
			<th>GENDER</th>
			<th>PHONE NUMBER</th>
			<th>USERNAME</th>
			<th>PASSWORD</th>
			</tr>
<tr>
			{% for i in user %}
			<td>{{i.Name}}</td>
			<td>{{i.Address}}</td>
			<td>{{i.Gender}}</td>
			<td>{{i.Phone}}</td>
			<td>{{i.Username}}</td>
			<td>{{i.Password}}</td>
			<td><a href = '{% url 'delete' i.id %}'>Delete</a></td>
			<td><a href = '{% url 'edit' i.id %}'>Edit</a></td>
</tr>
			{% endfor %}
			{% if messages %}
				{% for msg in messages %}
					<script>
						alert('{{msg}}')
					</script>
				{% endfor %}
			{% endif %}
</table>
</form>
</body>
</html>